* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: rgb(18, 18, 18);
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.header-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 40px;
}

.container {
    width: 100%;
    max-width: 1300px;
    position: relative;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    height: 100px;
}