.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.container .container__inner {
    display: flex;
    flex-direction: column;
}

.container .container__inner .add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .container__inner .add .btn {
    background-color: #3e29bf;
    color: rgb(237, 237, 237);
    border-radius: 4px;
    font-size: 11px;
    border: none;
    padding: 10px 14px;
    margin-bottom: 15px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.container .container__inner .add .btn:hover {
    background-color: #4fd1bf;
}