.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.portrait {
    display: flex;
    width: 48%;
    box-sizing: border-box;
}

.portrait img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #161823;
    box-shadow: 0 2px 2px 0 rgba(37, 31, 83, 0.06), 0 4px 4px 0 rgba(37, 31, 83, 0.06), 0 6px 6px 0 rgba(37, 31, 83, 0.06), 0 16px 16px 0 rgba(37, 31, 83, 0.06), 0 32px 32px 0 rgba(37, 31, 83, 0.06), 0 64px 64px 0 rgba(37, 31, 83, 0.06);
}

.info {
    box-sizing: border-box;
    word-wrap: break-word;
    width: 48%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #12131c;
    border: 1px solid #161823;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(37, 31, 83, 0.06), 0 4px 4px 0 rgba(37, 31, 83, 0.06), 0 6px 6px 0 rgba(37, 31, 83, 0.06), 0 16px 16px 0 rgba(37, 31, 83, 0.06), 0 32px 32px 0 rgba(37, 31, 83, 0.06), 0 64px 64px 0 rgba(37, 31, 83, 0.06);
}

.name {
    margin-bottom: 20px;
}

.ru {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 500;
    display: block;
}

.en {
    display: block;
    color: #a4aec1;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.result {
    color: #ededed;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.genre-list div {
    color: #ededed;
    font-family: inherit;
    font-weight: 300;
    font-size: 13px;
}

.genre {
    color: #e6e6e6;
    font-family: inherit;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.prevText {
    color: #9b7bb2;
    font-size: 12px;
    font-family: inherit;
    font-weight: 300;
    margin-right: 7px;
    margin-bottom: 2px;
}

.btn-submit {
    margin-top: 30px;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    width: fit-content;
    background-color: #3e29bf;
    color: #ededed;
    font-family: inherit;
    font-weight: 300;
    font-size: 12px;
    transition: all .6s ease-in-out;
}

.btn-submit:hover {
    background-color: #27bda8;
}