.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1320px;
    margin: 0 auto;
}

.l-side {
    width: 33%;
    box-sizing: border-box;
    padding: 0 10px;
    position: relative;
    display: flex;
}

.r-side {
    width: 66%;
    box-sizing: border-box;
    position: relative;
}

.form:hover {
    box-shadow: 0 4px 4px 0 rgba(103, 33, 135, 0.1), 0 8px 8px 0 rgba(103, 33, 135, 0.1), 0 16px 16px 0 rgba(77, 33, 135, 0.1), 0 32px 32px 0 rgba(77, 33, 135, 0.1), 0 64px 64px 0 rgba(77, 33, 135, 0.1), 0 128px 128px 0 rgba(77, 33, 135, 0.1);
}

.bi-image {
    color: #2421db;
    font-size: 24px;
}

.select-img {
    background-color: #1e1f24;
    border: 1px solid #2a2b2e;
    font-family: "Roboto", sans-serif;
    padding: 9px 6px;
    outline: none;
    font-size: 11px;
    color: #8f8f8f;
    border-radius: 4px;
    width: fit-content;
}

@media screen and (max-width: 960px) {
    .l-side {
        width: 100%;
        padding: 20px;
        position: relative;
        display: flex;
    }
    .r-side {
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
}