.menu-wrapper {
    background-color: midnightblue;
    margin-left: 15px;
}

.header-nav {}

.menu-items {
    list-style-type: none;
}

.menu-items li {
    float: left;
}

.menu-item a {
    color: rgb(236, 236, 236);
    text-decoration: none;
    display: block;
    padding-left: 20px;
    font-family: inherit;
    font-weight: 300;
    font-size: 14px;
    transition: color .6s ease-in-out;
}

.menu-item a:hover {
    color: rgb(172, 71, 223);
}