.header-nav {
    margin-left: 15px;
}

.menu-items {
    list-style-type: none;
}

.menu-items li {
    float: left;
}

.menu-item a {
    color: rgb(204, 204, 204);
    text-decoration: none;
    display: block;
    padding-left: 20px;
}