/* .menu-wrapper {
    background-color: midnightblue;
    margin-left: 15px;
} */

.header-nav {
    margin-left: 33px;
}

.menu-items {
    list-style-type: none;
}

.menu-items li {
    float: left;
}

.menu-item a {
    color: #cbd6e9;
    text-decoration: none;
    display: block;
    padding-left: 20px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    transition: color .6s ease-in-out;
    cursor: pointer;
}

.menu-item a:hover {
    color: #fff;
}