.profile-menu {
    position: absolute;
    top: 22px;
    display: flex;
    right: 0;
    align-items: center;
    flex-direction: column;
    background-color: #1e1e2e;
    box-shadow: rgba(15, 15, 27, 0.7) 0px 50px 100px -20px, rgba(15, 15, 27, 0.8) 0px 30px 60px -30px;
    padding: 20px;
    width: 140px;
    border-radius: 6px;
}

.logout {
    border: none;
    color: #7981b7;
    text-transform: inherit;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px dashed;
    margin-top: 20px;
    cursor: pointer;
}

.logout:hover {
    color: #ffffff;
}

.profile-menu ul li:not(:last-child) {
    border-bottom: 1px solid #30354f;
}

ul.items {
    width: 70%;
    text-align: center;
}

.profile-menu li {
    padding: 6px 0;
}

.profile-menu li a {
    color: #cbd6e9;
    text-decoration: none;
    font-family: inherit;
    font-weight: 300;
    font-size: 14px;
}

.profile-menu .active {
    color: #fd8841;
}

.profile-menu li a:hover {
    color: #fd8841;
}