.profile-menu {
    position: absolute;
    top: 22px;
    display: flex;
    right: 0;
    align-items: center;
    flex-direction: column;
    background-color: #1e1e2e;
    box-shadow: rgba(15, 15, 27, 0.7) 0px 50px 100px -20px, rgba(15, 15, 27, 0.8) 0px 30px 60px -30px;
    padding: 20px;
    width: 140px;
    border-radius: 6px;
}

.logout {
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: #5b60fb;
    padding: 6px 11px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.logout:hover {
    background-color: blueviolet;
}

.logout span,
.logout-icon {
    color: #fff;
    font-family: inherit;
    font-size: 11px;
}

.logout span {
    margin-left: 5px;
}

.profile-menu ul li:not(:last-child) {
    border-bottom: 1px solid #30354f;
}

ul.items {
    width: 70%;
    text-align: center;
}

.profile-menu li a {
    color: #cbd6e9;
    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
}

.profile-menu li a:hover {
    color: #52ebea;
}