.panel {
    position: absolute;
    background-color: #1c1c2b;
    padding: 20px;
    z-index: 9;
    display: grid;
    grid-template-columns: repeat(3, 160px);
    grid-auto-rows: 30px;
}

.panel fieldset {
    display: flex;
    align-items: center;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: 12px;
}

.panel fieldset input {
    margin-right: 6px;
}