.wrapper {
    display: flex;
    justify-content: center;
}

.form {
    width: 100%;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #16171a;
    display: flex;
    flex-direction: column;
    transition: all 1s;
    box-shadow: 0 4px 4px 0 rgba(29, 24, 44, 0.1), 0 8px 8px 0 rgba(29, 24, 44, 0.1), 0 16px 16px 0 rgba(29, 24, 44, 0.1), 0 32px 32px 0 rgba(29, 24, 44, 0.1), 0 64px 64px 0 rgba(29, 24, 44, 0.1), 0 128px 128px 0 rgba(29, 24, 44, 0.1);
}

.form:hover {
    box-shadow: 0 4px 4px 0 rgba(103, 33, 135, 0.1), 0 8px 8px 0 rgba(103, 33, 135, 0.1), 0 16px 16px 0 rgba(77, 33, 135, 0.1), 0 32px 32px 0 rgba(77, 33, 135, 0.1), 0 64px 64px 0 rgba(77, 33, 135, 0.1), 0 128px 128px 0 rgba(77, 33, 135, 0.1);
}

input[type='text'],
textarea,
select {
    background-color: #1e1f24;
    border: 1px solid #2a2b2e;
    font-family: "Roboto", sans-serif;
    padding: 9px 6px;
    outline: none;
    font-size: 11px;
    color: #8f8f8f;
    border-radius: 4px;
    cursor: pointer;
}

input[type='text']:focus,
textarea:focus,
select:focus {
    outline: none;
    font-size: 11px;
    color: #8f8f8f;
    background-color: #23242a;
    border: 1px solid #424348;
}

input::placeholder {
    color: #8f8f8f;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

textarea {
    min-height: 150px;
}

label {
    color: #ededed;
    margin: 15px 0 5px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

background-color: #7c23d5;
.bi-image {
    color: #2421db;
    font-size: 24px;
}


/*  */

.main-column {
    display: flex;
    justify-content: space-evenly;
}

.column1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.column2 {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.column2:not(:last-child),
.column3:not(:last-child) {
    margin-right: 6px;
}

.column3 {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}


/*  */

.select-img {
    background-color: #1e1f24;
    border: 1px solid #2a2b2e;
    font-family: "Roboto", sans-serif;
    padding: 9px 6px;
    outline: none;
    font-size: 11px;
    color: #8f8f8f;
    border-radius: 4px;
    width: fit-content;
}

.l-side {
    width: 30%;
    padding: 20px;
    position: relative;
    display: flex;
}

.r-side {
    width: 60%;
    padding: 20px;
    position: relative;
    flex-grow: 1;
}