.main {
    max-width: 2000px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.main .container .title {
    font-size: 23px;
    margin: 10px;
    font-family: inherit;
    color: rgb(199, 210, 232);
}