.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1320px;
    margin: 0 auto;
}

.admin-inner {
    width: 100%;
}

.admin-inner .menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin-bottom: 25px;
}

.admin-inner .menu .item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-inner .menu .item .icon {
    background-color: #181825;
    width: 100%;
    height: 110px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .5s ease-in-out;
    color: #7981b7;
    border-radius: 6px;
}

.admin-inner .menu .item .icon:hover {
    transform: scale(1.05);
    color: #033c35;
    background-color: #4fd1bf;
    box-shadow: 0 4px 4px 0 rgba(41, 191, 171, 0.06), 0 8px 8px 0 rgba(41, 191, 171, 0.06), 0 16px 16px 0 rgba(41, 191, 171, 0.06), 0 32px 32px 0 rgba(41, 191, 171, 0.06), 0 64px 64px 0 rgba(41, 191, 171, 0.06), 0 128px 128px 0 rgba(41, 191, 171, 0.06);
}

.admin-inner .menu .item .icon span {
    font-size: 11px;
    font-family: inherit;
}

.admin-inner .menu .item .icon .img {
    font-size: 33px;
}

.admin-inner .statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.admin-inner .statistics .item {}

.admin-inner .statistics .item .icon {
    color: #56d1bf;
    font-size: 20px;
    position: absolute;
}

.admin-inner .statistics .item .count {
    color: #bac4da;
    text-align: center;
    font-size: 50px;
    font-family: inherit;
    font-weight: bold;
}

.admin-inner .statistics .item .title {
    text-align: center;
    font-size: 12px;
    color: #bac4da;
}


/* .pink {
    background: rgb(44, 44, 65);
    background: linear-gradient(146deg, rgba(44, 44, 65, 1) 0%, rgba(35, 35, 52, 1) 20%, rgba(24, 24, 36, 1) 40%, rgba(18, 18, 28, 1) 60%, rgba(15, 15, 23, 1) 80%, rgba(11, 11, 17, 1) 100%);
    padding: 20px;
    position: relative;
    border-radius: 14px;
} */

.pink {
    /* box-shadow: 0 1px 1px 0 rgba(38, 41, 60, 0.06), 0 2px 2px 0 rgba(38, 41, 60, 0.06), 0 4px 4px 0 rgba(38, 41, 60, 0.06), 0 8px 8px 0 rgba(38, 41, 60, 0.06), 0 16px 16px 0 rgba(38, 41, 60, 0.06), 0 32px 32px 0 rgba(38, 41, 60, 0.06); */
    /* background-color: #2a2b40; */
    background-color: #27283b;
    padding: 20px;
    position: relative;
    transition: all .5s ease-in-out;
    border-radius: 6px;
}

.pink:hover {
    /* box-shadow: 0 4px 4px 0 rgba(21, 35, 129, 0.06), 0 8px 8px 0 rgba(21, 35, 129, 0.06), 0 16px 16px 0 rgba(21, 35, 129, 0.06), 0 32px 32px 0 rgba(21, 35, 129, 0.06), 0 64px 64px 0 rgba(21, 35, 129, 0.06), 0 128px 128px 0 rgba(21, 35, 129, 0.06); */
}