.panel {
    position: absolute;
    background-color: #1c1c2b;
    padding: 20px;
    z-index: 9;
    display: grid;
    grid-template-columns: repeat(3, 160px);
    grid-auto-rows: 30px;
}

.panel .data {
    display: flex;
    align-items: center;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: 12px;
}

.panel-country {
    position: absolute;
    background-color: #1c1c2b;
    padding: 20px;
    z-index: 9;
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-auto-rows: 30px;
}

.panel-country .data input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: #acb7ca;
    font-family: inherit;
    font-size: 12px;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #343553;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-container:hover input~.checkmark {
    background-color: #4e507c;
}

.check-container input:checked~.checkmark {
    border: 1px solid #4fd1bf;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked~.checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    width: 5px;
    height: 9px;
    border: solid #4fd1bf;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}