.nav-area {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
}

.logo a {
    text-decoration: none;
}

.logo img {
    width: 33px;
}

.logo span {
    color: #f6f6f6;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    margin-left: 3px;
    font-size: 14px;
    top: 50px;
}