.container {
    width: 100%;
    max-width: 1320px;
    display: flex;
    align-items: center;
    height: 90px;
    margin: 0 auto;
}

.nav-absolute {
    width: 100%;
    z-index: 998;
    position: absolute;
}

.nav-relative {
    width: 100%;
    z-index: 998;
    position: relative;
}

.logo {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
}

.logo a {
    text-decoration: none;
}

.logo img {
    width: 33px;
}

.logo span {
    color: #f6f6f6;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    margin-left: 3px;
    font-size: 14px;
    top: 50px;
}

.right {
    right: 10%;
    position: absolute;
    align-items: center;
    display: flex;
}

.search-icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
}

.search-icon:hover {
    color: aliceblue;
}

.auth {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-left: 30px;
}

.auth-icon {
    color: rgb(236, 236, 236);
    margin-right: 6px;
    cursor: pointer;
}

.auth span {
    color: rgb(236, 236, 236);
    font-family: inherit;
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
}

.bars {
    color: #ffffff;
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
}