.wrapper {
    background-color: #0e0f16;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    transition: all .5s ease-in-out;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(11, 3, 15, 0.7);
}

.wrapper:hover {
    transform: scale(1.05);
    /* box-shadow: 0 2px 2px 0 rgba(62, 41, 191, 0.06), 0 4px 4px 0 rgba(62, 41, 191, 0.06), 0 8px 8px 0 rgba(62, 41, 191, 0.06), 0 16px 16px 0 rgba(62, 41, 191, 0.06), 0 32px 32px 0 rgba(62, 41, 191, 0.06), 0 64px 64px 0 rgba(62, 41, 191, 0.06); */
    box-shadow: 0 2px 2px 0 rgba(62, 41, 191, 0.06), 0 4px 4px 0 rgba(62, 41, 191, 0.06), 0 8px 8px 0 rgba(62, 41, 191, 0.06), 0 16px 16px 0 rgba(62, 41, 191, 0.06), 0 28px 28px 0 rgba(62, 41, 191, 0.06), 0 36px 36px 0 rgba(62, 41, 191, 0.06);
    z-index: 9;
}

a {
    text-decoration: none;
}

.item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.item img {
    object-fit: cover;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.item-info {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    transition: all .7 ease-in-out;
    background: rgb(10, 10, 14);
    background: linear-gradient(0deg, rgba(10, 10, 14, 1) 10%, rgba(0, 212, 255, 0) 100%);
}

.hidden {
    display: none;
}

.right-info {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-info .favorite {
    font-size: 18px;
    color: #fd9941;
}

.right-info .nofavorite {
    font-size: 18px;
    color: #66779e;
}

.right-info .rating {
    font-size: 23px;
    font-family: inherit;
    font-weight: 600;
    color: rgb(213, 223, 243);
    margin-top: 7px;
}

.hidden {
    display: none;
}

.bottom-info {
    position: absolute;
    padding: 11px 0px 5px 11px;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box
}

.bottom-info span {
    color: rgb(192, 203, 224);
    font-size: 11px;
    margin-right: 5px;
}

.bottom-info div {
    color: #83dbca;
    border-radius: 2px;
    padding: 3px;
    width: fit-content;
    border: 1px solid #83dbca;
    font-size: 12px;
    margin-right: 5px;
}

.title {
    position: relative;
    margin-top: 10px;
    min-height: 47px;
    padding: 4px 10px 15px;
}

.ru {
    font-family: inherit;
    border-bottom: none;
    margin-bottom: 2px;
    color: rgb(199, 210, 232);
    font-size: 14px;
}

.en {
    font-family: inherit;
    text-decoration: none;
    font-size: 12px;
    color: #495178;
}

.gradient {
    background-color: #127a3a;
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
}

.gradientout {
    background: transparent;
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
}