.slides-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.slides-wrapper .info {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #1a1e2a;
    box-shadow: 0 2px 2px 0 rgba(46, 31, 148, 0.06), 0 4px 4px 0 rgba(46, 31, 148, 0.06), 0 6px 6px 0 rgba(46, 31, 148, 0.06), 0 16px 16px 0 rgba(46, 31, 148, 0.06), 0 32px 32px 0 rgba(46, 31, 148, 0.06), 0 64px 64px 0 rgba(46, 31, 148, 0.06);
    transition: all .5s ease-in-out;
}

.slides-wrapper .info:hover {
    border: 1px solid #222639;
    box-shadow: 0 4px 4px 0 rgba(62, 41, 191, 0.06), 0 8px 8px 0 rgba(62, 41, 191, 0.06), 0 16px 16px 0 rgba(62, 41, 191, 0.06), 0 32px 32px 0 rgba(62, 41, 191, 0.06), 0 64px 64px 0 rgba(62, 41, 191, 0.06), 0 128px 128px 0 rgba(62, 41, 191, 0.06);
}

.slides-wrapper .info .poster {
    width: 100%;
}

.slides-wrapper .info .poster img {
    width: 100%;
}

.slides-wrapper .info .actions {
    margin-top: 10px;
    text-align: center;
}

.info .actions .update,
.info .actions .delete {
    font-size: 11px;
    border: none;
    padding: 7px 10px;
    color: #a4aec1;
    border-radius: 4px;
    background-color: #2a2e45;
    margin-right: 7px;
    cursor: pointer;
}

.info .actions .delete:hover,
.info .actions .update:hover {
    background-color: #373d5a;
}

.info .btns span {
    margin-left: 4px;
}

@media (max-width: 1065px) {
    .slides-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 960px) {
    .slides-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 630px) {
    .slides-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 415px) {
    .slides-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 540px) {}

@media (max-width: 480px) {}