.slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #161622;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-size {
    color: #b2bed3;
    font-family: inherit;
    font-size: 17px;
    margin-bottom: 20px;
}

.slider-wrapper .input-info {
    color: #b2bed3;
    margin: 15px 0 5px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.slider-wrapper .inner {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    background-color: #12121c;
    padding: 20px;
    border-radius: 12px;
}

.slider-wrapper .inner .preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-wrapper .inner .preview::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgb(19, 19, 30);
    background: linear-gradient(0deg, rgba(19, 19, 30, 0.9738489145658263) 2%, rgba(19, 19, 30, 0.7343531162464986) 16%, rgba(19, 19, 30, 0.4038209033613446) 30%, rgba(19, 19, 30, 0.2567620798319328) 35%);
}

.slide-btns {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.slide-btns .reset {
    background-color: #823543;
    color: #fff;
    border: none;
    padding: 9px;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 11px;
    transition: all .6s ease-in-out;
}

.slide-btns .reset:hover {
    background-color: #fd4e52;
}

.slider-wrapper .inner .preview img {
    width: 100%;
}

.zaglushka img {
    width: 200px !important;
}

.slider-wrapper .inner .preview .description {
    position: absolute;
    left: 30px;
    bottom: 10%;
    color: #cbd5e8;
    max-width: 400px;
    width: 100%;
    font-family: inherit;
    font-size: 13px;
    z-index: 10;
}

.slider-wrapper .inner .preview .watch {
    padding: 12px 20px;
    background-color: #4b50d4;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 12px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 10;
}

.form-slider {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-slider .add {
    background-color: #4b50d4;
    border-radius: 4px;
    width: fit-content;
    font-size: 11px;
    color: #fff;
    font-family: inherit;
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.form-slider .add:hover {
    background-color: #7c23d5;
}

.slider-wrapper .close {
    position: absolute;
    color: aliceblue;
    border: none;
    font-size: 25px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    cursor: pointer;
}

.slider-wrapper .close:hover {
    position: absolute;
    color: #4fd1bf;
    border: none;
    font-size: 25px;
    top: 20px;
    right: 20px;
    background-color: transparent;
}

.form-slider .photo-layer {
    padding: 9px;
    border-radius: 4px;
    background-color: #30354f;
    display: flex;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.photo-layer:hover {
    background-color: #7c23d5;
}

.photo-icon {
    color: aliceblue;
    margin-right: 5px;
}

.select-photo {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: aliceblue;
}

@media (max-width: 800px) {
    .slider-wrapper .inner {
        grid-template-columns: repeat(2fr, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 630px) {
    .slider-wrapper .inner {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 1140px) {}